.App {
  margin: 30px 100px 30px 100px;
  text-align: center;
}

.App-inputBox {
  padding: 50px 0px;
  width: flex;
}

.App-input {
  border: 3px solid pink;
  border-radius: 10px;
  width: 300px;
  height: 30px;
}

.App-btn {
  margin: 30px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  background-color: hsl(336, 100%, 65%);
  border: 2px solid hsl(336, 100%, 89%);
  border-radius: 5px;
  width: 100px;
  height: 30px;
}

.App-header {
  font-size: 230%;
  font-weight: bold;
}

.App-text {
  font-weight: bold;
  margin: 80px 20px 20px 20px;
  float: left;
  padding: 20px;
  font-size: 110%;
  border: 3px solid hsl(336, 100%, 89%);
  border-radius: 10px;
  width: 250px;
  height: 100px;
}